@import "normalize.styl"
@import "nib"
@import "boton.styl"

naranja = #C56626
cafe = #1D100C
texto1 = #333
link = #468CBF
blanco = #ffffff
rojo = #DF392E
gris_tenue = #f2f2f2
gris_bajito = #d7d7d7 
fondo = #f2f2f2
a 
	text-decoration none

body
	font-family 'Open Sans', sans-serif
	font-size 16px
figure
	margin 0
ul
	margin 0
	padding 0

header
	border-bottom 3px solid naranja
main 
	background-image url(../../static/image/backgrounds/bgmuro.png)

footer
	background-color cafe
	background-image url(../../static/image/backgrounds/poly.png)
	background-position 50% 50%
	padding 0 0 1em 0

	.contacto
		padding 2em 0 0 0
		margin 0 auto
		width 85%
		.title
			color naranja
			text-align center
			margin-top 0.2em
			margin-bottom 0.5em
			padding 0
		.info
			color #777
			margin 0 auto
			width 100%
			text-align center
			.ubica
				color naranja
			a 
				color link

.container
	margin  0 auto
	width 90%

.contenido
	padding 2em 0 1em 0
	overflow hidden
	text-align center
	margin 0 auto

.round
	border-radius 50%

.relative
	position relative

.display-menu
	background naranja
	border 5px solid naranja
	border-radius 5px
	color blanco
	font-size 25px
	position absolute
	right 10px
	text-decoration none
	top 20px

.logo
	display inline-block
	margin-left 5px
	padding-top 5px
	background blanco
	figure
		padding-bottom 5px
		
		img
			display block
			margin 0 auto
			width 80px
.imgtext
	display inline-block
	.box
		figure
			width 100%
			img
				filter grayscale(100%)
				opacity: .6; 
				width 100%
			.text
				background rgba(black, 0.5)
				bottom 5px
				color blanco
				height 66px
				left 0px
				padding 1em
				position absolute
				right 0
				
.item
	display inline-block
	font-size 1rem
	text-align center
	vertical-align top
	width 90%
	position relative
	&:nth-child(even)
		margin-right 0
	p 
		text-align justify
	.icon-clock
	.icon-compass
	.icon-spinner
		font-size 8em
		color link
		text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;

	.hexagono
		width 200px
		height 130px
		margin 60px auto
		line-height 130px
		background #ffffff
		position relative
		padding-bottom 5px 
		&:before
			content ""
			position absolute
			top -50px
			left 0
			width 0
			height 0
			border-left 100px solid transparent
			border-right 100px solid transparent
			border-bottom 50px solid #ffffff
		&:after
			content ""
			position absolute
			bottom -50px
			left 0
			width 0
			height 0
			border-left 100px solid transparent
			border-right 100px solid transparent
			border-top 50px solid #ffffff

.menu
	background blanco
	display none
	.tab
		text-align center
		text-transform uppercase
		list-style none
		a
			color naranja
			height 50px
			line-height 50px
			display block
			background #f2f2f2
			&:hover
				background cafe
				border-radius 10px 10px 0 0
				color #blanco
.rt-top
	background-color #FB6058
	background-image url(../../static/image/backgrounds/poly.png)
	background-position 50% 50%
	height 100px
	width 100%
	h1 
		color blanco
		margin 0
		padding-top 30px
		text-align center
		text-shadow rgba(0,0,0,0.9) 3px 3px 5px
		vertical-align middle
		font-family: 'Source Sans Pro', sans-serif;
.wrap
	padding-top 2em
	overflow hidden
	text-align center
	background #EAE6E5

@media screen and (min-width: 480px)

	.imgtext
		.box
			figure
				img
					border-radius 10px
				.text
					border-radius 0 0 10px 10px

@media screen and (min-width: 800px)
	
	footer
		.contacto
			width 95%
			text-align center
			.info
				display inline-block
				width 48%

	.contenido
		width 430px
		height 268px

	.button-menu
		display none 
	.menu
		display block
		overflow hidden
		width 560px
		top 0
		right 50px
		margin-top -10px
		position absolute
		border-radius 5px
		.tab
			float left
			list-style none
			border-radius 5px
			a 
				color naranja
				cursor pointer
				display block
				padding 27px
				text-transform uppercase
				background blanco
				border-radius 5px
				&:hover
					border-radius 5px
	.contenido
		text-align center
		display block
	.item
		width 17rem
		margin-bottom 1em
		margin-right 1em

		&:nth-child(even)
			margin-right 1em





