@import "normalize.styl"
@import "nib"
@import "boton.styl"

naranja = #C56626
cafe = #1D100C
texto1 = #333
link = #468CBF
blanco = #ffffff
rojo = #DF392E
gris_tenue = #f2f2f2
gris_bajito = #d7d7d7 
fondo = #f2f2f2
background = #eae6e5
a 
	text-decoration none

body
	font-family 'Open Sans', sans-serif
	font-size 16px
figure
	margin 0
ul
	margin 0
	padding 0

main 
	background #EAE6E5

footer
	background-color cafe
	background-image url(../../static/image/backgrounds/poly.png)
	background-position 50% 50%
	padding 0 0 1em 0

	.contacto
		padding 2em 0 0 0
		margin 0 auto
		width 85%
		.title
			color naranja
			text-align center
			margin-top 0.2em
			margin-bottom 0.5em
			padding 0
		.info
			color #777
			margin 0 auto
			width 100%
			text-align center
			.ubica
				color naranja
			a 
				color link
.boxs
	padding 2em 0 1em 0
	width 90%
	margin  0 auto
.corp
	margin-left 5px
	padding-top 25px
	float right
	background blanco
	border-radius 0 0 5px 5px
	figure
		padding-bottom 5px
		img
			display block
			width 130px
			float left
.categoria
	display inline-block
	padding 62px 1em 62px 1em
	border-radius 50%
	background blanco
	width 114px
	text-align center
	color naranja
	margin-right .5em
	margin-left .5em
	margin-bottom .5em
	background-image url(../../static/image/backgrounds/poly.png)
	background-position 50% 50%
	&:hover
		background-color cafe

.categorias
	width 100%
	padding-top 2em
	padding-bottom 1em 
	margin 0 auto
	text-align center

.container
	margin 0 auto
	width 90%

.contenido
	padding 2em 0 1em 0
	overflow hidden
	text-align center
	margin 0 auto
.form
	.formulario
		fieldset
			border-radius 5px
			.control-group
				label
					display block
					font-weight bold
					color texto1
				input
				textarea
					border-radius 5px
					background-color #ffffff
					border 1px solid #cccccc
					padding 4px 6px
			.opcion
				input
				textarea
					border-radius 5px
					background-color #ffffff
					border 1px solid #cccccc
					padding 4px 6px
				.sent
					background-color #5cb85c
					border #4cae4c
					color blanco
					padding 7px 9px
					text-shadow rgba(0,0,0,0.5) 2px 2px 5px
					&:hover
						background-color #449d44
						border #398439
						
				.reset
					background-color #d9534f
					border #d43f3a
					color blanco
					padding 7px 9px
					text-shadow rgba(0,0,0,0.5) 2px 2px 5px
					&:hover
						background-color #c9302c
						border #ac2925

.round
	border-radius 50%

.relative
	position relative

.display-menu
	background naranja
	border 5px solid naranja
	border-radius 5px
	color blanco
	font-size 25px
	position absolute
	right 10px
	text-decoration none
	top 20px

.logo
	display block
	margin-left 5px
	padding-top 5px
	background blanco
	border-radius 0 0 5px 5px
	figure
		padding-bottom 5px
		img
			display block
			width 80px

.imgtext
	display inline-block
	.box
		figure
			width 100%
			img
				filter grayscale(100%)
				opacity: .6; 
				width 100%
			.text
				background rgba(black, 0.5)
				bottom 5px
				color blanco
				height 66px
				left 0px
				padding 1em
				position absolute
				right 0
				
.item
	display inline-block
	font-size 1rem
	text-align center
	vertical-align top
	width 90%
	position relative
	&:nth-child(even)
		margin-right 0
	p 
		text-align justify
	.icon-clock
	.icon-compass
	.icon-spinner
		font-size 8em
		color link
		text-shadow: rgba(0,0,0,0.5) 2px 2px 5px;

	.hexagono
		width 200px
		height 130px
		margin 60px auto
		line-height 130px
		background #ffffff
		position relative
		padding-bottom 5px 
		&:before
			content ""
			position absolute
			top -50px
			left 0
			width 0
			height 0
			border-left 100px solid transparent
			border-right 100px solid transparent
			border-bottom 50px solid #ffffff
		&:after
			content ""
			position absolute
			bottom -50px
			left 0
			width 0
			height 0
			border-left 100px solid transparent
			border-right 100px solid transparent
			border-top 50px solid #ffffff
.justify
	text-align justify

.menu
	background blanco
	display none
	.lista
		.tab
			text-align center
			text-transform uppercase
			list-style none
			background #f2f2f2
			&:nth-child(4n+1)
				border-radius 10px 10px 0 0

			a
				color naranja
				height 50px
				line-height 50px
				display block
				
				&:hover
					background cafe
					border-radius 10px 10px 0 0
					color #blanco
.rt-top
	background-color cafe
	background-image url(../../static/image/backgrounds/poly.png)
	background-position 50% 50%
	height 100px
	width 100%
	overflow hidden
	h1 
		color naranja 
		margin 0
		padding-top 30px
		text-align center
		text-shadow rgba(0,0,0,0.9) 3px 3px 5px
		vertical-align middle
		font-family 'Open Sans', sans-serif
		font-weight 300
.wrap
	padding-top 1em
	overflow hidden
	text-align center
	background #EAE6E5

@media screen and (min-width: 480px)

	.imgtext
		.box
			figure
				img
					border-radius 10px
				.text
					border-radius 0 0 10px 10px

@media screen and (min-width: 800px)

	
	footer
		.contacto
			width 95%
			text-align center
			.info
				display inline-block
				width 48%
	.boxs
		width 70%

	.contenido
		display block
		margin 0 auto
		overflow hidden
		text-align center
		width 100%

	.banner
		width 430px
		height 268px
		margin 0 auto

	.button-menu
		display none

	.container
		width 95%

	.header
		background blanco
		height 100px
		.logo
			float left
			padding 0
			figure
				padding-bottom 5px
				img
					display block
					width 200px
					background blanco
					border-radius 10px
	.menu
		display block
		border-radius 5px
		margin-bottom 2em
		height 104px
		width 550px
		position absolute 
		top 100px
		right 0 
		background background

		.lista
			display block

			.tab
				float left
				list-style none
				a 
					color naranja
					cursor pointer
					padding 27px
					text-transform uppercase
					border-radius 5px
					display block
					background background
					border-top solid transparent
					border-radius 0 0 0 0  

					&:hover
						border-radius 0 0 10px 10px 
						border-top solid naranja

	.item
		width 17rem
		margin-bottom 1em
		margin-right 1em

		&:nth-child(even)
			margin-right 1em
	.rt-top
		width 50%
		border-radius 0 5px 5px 0
		h1
			text-align right
			padding-right 20px






